@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

html, body{
    background: ;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    width: 100vw;
    
}

main{
    position: relative;
    background-image: url("../pacote-d013/imagens/fundo-madeira.jpg");
    background-size: cover;
    height: 100vh;
    
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: url("../pacote-d013/imagens/frame-iphone.png") no-repeat;
    width: 311px;
    height: 627px;

}

iframe#tela_iphone{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

section#redes_sociais{
    text-align: right;
    
}

section#redes_sociais img{
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.514);
    margin: 10px;
}

section#redes_sociais img:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.664);
    border: 2px solid white;
    transform: translate(-3px, -3px);
    transition: .2s, border 0.5s; 
}
